*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-content{
    min-height: 1000px;
    width: 90%;
    margin: 20px auto;
    display: grid;

    grid-template-columns: 300px 700px;
}
.left-section{
    background-color:slategray;
    color: white;
}
.left-content{
    padding: 1rem;
}

.profile-image{
    width: 60%;
    border: 5px solid white;
    height: 160px;
    display: block;
    margin: auto;
    border-radius: 30%;
}
.name{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    padding: 0.8rem;
    
}
.designation{
font-size: 1rem;
text-align: center;
padding-bottom:0.5rem ;
}
.description{
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
}
.social-media{
    display: flex;
    justify-content: space-around;
}
.skills{
    font-size: .75rem;
    text-align: center;
    padding: 1rem 0.5rem;
}
.skill-name{
    font-size: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
}
.progress-bar{
    border: 1px white solid;
    height: 4px;
    background-color: white;
    border-radius: 10px;
}
.right-main-content{
    padding: 2rem 3rem;
}
.right-title{
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    margin-bottom: 0px;
}
.data{
    display: grid;
    grid-template-columns:70% 30%;
}
.left-title-data{
    font-size: 1rem;
    padding: 0.5rem;
    margin-top: 0px;
    margin-bottom: 0px;

}
.right-title-data{
    font-size: 0.8rem;
    padding: 0.5rem;
    margin-top: 3px;
}
.para{
    margin: 0px auto;
    padding: 0.5rem;
    font-size: 0.8rem;
}
@media screen and (max-width:673px){
    .main-content{
        grid-template-columns:repeat(1,1fr);
    }
}
